

.footer {
    left: 0;
    right: 0;
    bottom: 0; /* Gắn footer xuống dưới cùng */
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
}

.footer-contact {
    text-align: left;
    margin-left: 40px;
}

.footer-social {
    text-align: right;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: blue; /* Màu xanh khi hover */
}

.footer-contact-content {
    font-size: 18px;
    font-weight: bold;
}

.footer p {
    margin: 5px 0;
}
